page-login {
.img-holder {position: relative;}
.img-holder .link {
    position: absolute;
    bottom: 70px; /*your button position*/
    right: 50px; /*your button position*/
}
.toolbar-background {
  background-color:#00acc1;
  color: #eeeeee;
}

.profilepic img {
     height:170px;
    margin-top: 20px;
    
	margin-left: auto;
	margin-right: auto;
	display: block;
}
}

