page-camera-tab-default-page {
ion-app.md [padding] {
    padding: 160px;
}

.toolbar-background {
  background-color: #2962ff;
  color: #eeeeee;
}

.toolbar-title-md {
    color: #eeeeee;
}
.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default{
    color:#eeeeee;
    background-color: transparent;
}
}