page-camera-tab-default-page {
ion-app.md [padding] {
    padding: 160px;
}
$default: #006db3;
.toolbar-background {
  background-color: $default;
  color: #eeeeee;
}

.toolbar-title-md {
    color: #eeeeee;
}
.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default{
    color:#eeeeee;
    background-color: transparent;
}

#content{

    background-color:#eeeeee ;font-family: 'Bitter', serif;
}
#profile-background{
    background-image:url('assets/img/ziya.jpg');
    background:linear-gradient(to bottom, #eeeeee  50%, $default 50%);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    padding:10px;
}

#profilepic img {
     height:170px;border-radius:50%;
    border:5px solid #eeeeee; 
    margin-top: 70px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.pro-heading{
 color:#e0e0e0;
 text-align:center;
}
.card-header{

    background-color: #006db3;
    color:#eeeeee;
}




}
hr{
    color:black;
}
.card-content-md{
    padding: 0px !important;
}